#cloud-config
package_update: true
package_upgrade: true

write_files:
  - path: /etc/yum.repos.d/docker-ce.repo
    permissions: '0644'
    content: |
      [docker-ce-stable]
      name=Docker CE Stable - $basearch
      baseurl=https://download.docker.com/linux/rhel/9/$basearch/stable
      enabled=1
      gpgcheck=1
      gpgkey=https://download.docker.com/linux/rhel/gpg
  - path: /etc/ssh/sshd_config.d/01-ssh-hardening.conf
    content: |
      PasswordAuthentication no
      Port ${cc_ssh_port}
      GSSAPIAuthentication no
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      MaxAuthTries 2
      AllowTcpForwarding no
      X11Forwarding no
      AllowAgentForwarding no
      AuthorizedKeysFile .ssh/authorized_keys
  - path: /etc/docker/daemon.json
    permissions: '0644'
    content: |
      {"bridge":"none"}
  - owner: root:root
    path: /opt/.env
    permissions: '0600'
    content: |
        SSH_PORT=${cc_ssh_port}
        HOSTFQDN=${cc_backend_domain}
        CONFIGDIR=/config
        CERTBOT_EMAIL=${cc_letsencrypt_mail}
        NC_ENDPOINT=${cc_nc_endpoint}
        NC_SHAREDSECRET=${cc_nc_sharedsecret}
        TURNSECRET=${cc_turn_sharedsecret}


packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
  - iptables-services
  - net-tools
  - tcpdump
  - git

runcmd:
  - systemctl enable --now docker
  - systemctl enable iptables
  - systemctl enable ip6tables
  - docker --version
  - docker compose version
  - git clone --depth=1 'https://github.com/lnobach/nctalk-backend-cloud-config' /opt/app
  - mv /opt/.env /opt/app/.env
  - /opt/app/set_iptables --save
  - /opt/app/init_config
  - /opt/app/init_start
