version: "3"

services:
    proxy:
        image: jonasal/nginx-certbot:6.0.1-nginx1.29.3-alpine
        restart: unless-stopped
        hostname: proxy
        ports:
            - 80:80
            - 443:443
        volumes:
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt
            - ${CONFIGDIR}/proxy/makeproxy.conf.sh:/docker-entrypoint.d/05-makeconf.sh
        environment:
            - CERTBOT_EMAIL
        networks:
            spreedbackend:
    spreedbackend:
        restart: unless-stopped
        hostname: spreedbackend
        image: ghcr.io/lnobach/nextcloud-spreed-signaling:2.0.4
        expose:
            - '8443'
        volumes:
            - ${CONFIGDIR}/spreedbackend:/config:ro
        networks:
            spreedbackend:
    nats:
        image: nats:2.12.2
        hostname: nats
        expose:
            - '4222'
        networks:
            spreedbackend:
    janus:
        restart: unless-stopped
        hostname: spreedbackend
        image: ghcr.io/lnobach/janus-gateway:1.3.0
        command: ["/entrypoint", "-F", "/config", "-C", "/config/janus.cfg", "--nat-1-1=${EXTIP}"]
        expose:
            - '8188'
        ports:
            - "20000-20100:20000-20100/udp"
        environment:
            - COPYCERT=/etc/letsencrypt/live/${HOSTFQDN}/fullchain.pem
            - COPYKEY=/etc/letsencrypt/live/${HOSTFQDN}/privkey.pem
        volumes:
            - ${CONFIGDIR}/janus:/config:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro
        networks:
            spreedbackend:
    coturn:
        restart: unless-stopped
        hostname: coturn
        image: ghcr.io/lnobach/coturn:4.7.0-r2-alpine
        environment:
            - COPYCERT=/etc/letsencrypt/live/${HOSTFQDN}/fullchain.pem
            - COPYKEY=/etc/letsencrypt/live/${HOSTFQDN}/privkey.pem
        volumes:
            - ${CONFIGDIR}/coturn.conf:/etc/coturn/turnserver.conf:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro
        tmpfs:
            - /var/lib/coturn
        ports:
            - 3478:3478
            - 3478:3478/udp
            - 5349:5349
            - 5349:5349/udp
            - "49160-49200:49160-49200/udp"
        networks:
            spreedbackend:


networks:
    spreedbackend:
