services:

    proxy:
        network_mode: host
        image: jonasal/nginx-certbot:6.0.1-nginx1.29.3-alpine
        restart: unless-stopped
        hostname: proxy
        volumes:
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt
            - ${CONFIGDIR}/proxy/makeproxy.conf.sh:/docker-entrypoint.d/05-makeconf.sh
        environment:
            - CERTBOT_EMAIL

    spreedbackend:
        network_mode: host
        restart: unless-stopped
        hostname: spreedbackend
        image: ghcr.io/lnobach/nextcloud-spreed-signaling:2.0.4
        volumes:
            - ${CONFIGDIR}/spreedbackend:/config:ro

    nats:
        network_mode: host
        image: nats:2.12.3
        hostname: nats

    janus:
        network_mode: host
        restart: unless-stopped
        hostname: spreedbackend
        image: ghcr.io/lnobach/janus-gateway:1.3.3
        command: ["/entrypoint", "-F", "/config", "-C", "/config/janus.cfg"]
        environment:
            - COPYCERT=/etc/letsencrypt/live/${HOSTFQDN}/fullchain.pem
            - COPYKEY=/etc/letsencrypt/live/${HOSTFQDN}/privkey.pem
        volumes:
            - ${CONFIGDIR}/janus:/config:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro

    coturn:
        network_mode: host
        restart: unless-stopped
        hostname: coturn
        image: ghcr.io/lnobach/coturn:4.7.0-r2-alpine
        environment:
            - COPYCERT=/etc/letsencrypt/live/${HOSTFQDN}/fullchain.pem
            - COPYKEY=/etc/letsencrypt/live/${HOSTFQDN}/privkey.pem
        volumes:
            - ${CONFIGDIR}/coturn.conf:/etc/coturn/turnserver.conf:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro
        tmpfs:
            - /var/lib/coturn
