version: "3"

services:
    proxy:
        image: lnobach/nginx-certbot
        restart: unless-stopped
        hostname: proxy
        ports:
            - 80:80
            - 443:443
        volumes:
            - ${CONFIGDIR}/proxy:/etc/nginx/user.conf.d:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt
        environment:
            - CERTBOT_EMAIL
        networks:
            spreedbackend:
    spreedbackend:
        restart: unless-stopped
        hostname: spreedbackend
        image: lnobach/nextcloud-spreed-signaling:0.2.0
        expose:
            - '8443'
        volumes:
            - ${CONFIGDIR}/spreedbackend:/config:ro
        networks:
            spreedbackend:
    nats:
        image: nats
        hostname: nats
        expose:
            - '4222'
        networks:
            spreedbackend:
    janus:
        restart: unless-stopped
        hostname: spreedbackend
        image: lnobach/janus-gateway:0.10.8
        command: ["/entrypoint", "-F", "/config", "-C", "/config/janus.cfg", "--nat-1-1=${EXTIP}"]
        expose:
            - '8188'
        ports:
            - "20000-20100:20000-20100/udp"
        environment:
            - COPYCERT=/etc/letsencrypt/live/${HOSTFQDN}/fullchain.pem
            - COPYKEY=/etc/letsencrypt/live/${HOSTFQDN}/privkey.pem
        volumes:
            - ${CONFIGDIR}/janus:/config:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro
        networks:
            spreedbackend:
    coturn:
        restart: unless-stopped
        hostname: coturn
        image: instrumentisto/coturn:4.5.1
        volumes:
            - ${CONFIGDIR}/coturn.conf:/etc/coturn/turnserver.conf:ro
            - ${CONFIGDIR}/letsencrypt:/etc/letsencrypt:ro
        tmpfs:
            - /var/lib/coturn
        ports:
            - 3478:3478
            - 3478:3478/udp
            - 5349:5349
            - 5349:5349/udp
            - "49160-49200:49160-49200/udp"
        networks:
            spreedbackend:


networks:
    spreedbackend:
